body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f4f8;
}

header {
    background: #0047ab;
    padding: 20px;
    text-align: center;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    background: white;
    padding: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #0047ab;
    font-size: 16px;
}

nav a:hover {
    color: #ff9800;
}

.hero {
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1 {
    font-size: 45px;
    margin: 0;
}

.hero p {
    width: 70%;
    font-size: 18px;
}

.buttons a {
    background: #ff9800;
    color: white;
    padding: 12px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 6px;
}

.container {
    max-width: 600px;
    background: white;
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: #0047ab;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

.success {
    display: none;
    background: #e7ffe7;
    color: #007500;
    padding: 10px;
    border-radius: 5px;
}

.item {
    background: #f9f9f9;
    padding: 12px;
    margin: 10px 0;
    border-left: 4px solid #0047ab;
    border-radius: 6px;
}

.item button.del {
    background: red;
    margin-top: 8px;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
